[project]
	description = REST service framework for GAE
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ola Sandstrom (sosandstrom)
[access "refs/for/refs/*"]
	read = group user/Ola Sandstrom (sosandstrom)
	push = group user/Ola Sandstrom (sosandstrom)
	label-Code-Review = -2..+2 group user/Ola Sandstrom (sosandstrom)
	label-Verified = -1..+1 group user/Ola Sandstrom (sosandstrom)
	rebase = group user/Ola Sandstrom (sosandstrom)
	removeReviewer = group user/Ola Sandstrom (sosandstrom)
	submit = group user/Ola Sandstrom (sosandstrom)
[access "refs/heads/*"]
	read = group user/Ola Sandstrom (sosandstrom)
	create = group user/Ola Sandstrom (sosandstrom)
	push = +force group user/Ola Sandstrom (sosandstrom)
	pushMerge = group user/Ola Sandstrom (sosandstrom)
[access "refs/tags/*"]
	push = +force group user/Ola Sandstrom (sosandstrom)
	pushTag = group user/Ola Sandstrom (sosandstrom)
	pushSignedTag = group user/Ola Sandstrom (sosandstrom)
